/* Thiết lập chung */
* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f9f9f9;
}

/* Khung chính chia 75/25 */
.containers {
    max-width: 1250px;
    margin: 20px auto;
    width: 100%;
    display: flex;
    gap: 30px;
}

/* --- PHẦN BÊN TRÁI: 75% --- */
.main-content {
    flex: 0 0 75%;
    justify-content: space-between;
    align-items: flex-start;
}

.blog-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.blog-card {
    background: #fff;
    border: 1px solid #ddd;
    padding-bottom: 10px;
}

.blog-card img {
    width: 100%;
    aspect-ratio: 1.5 / 1;
    object-fit: fill;
    background-color: #000;
}

.blog-content {
    padding: 15px;
}

.blog-content h3 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1.4;
}

.blog-content p {
    font-size: 13px;
    color: #555;
    margin-bottom: 15px;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.blog-meta {
    display: flex;         /* Dàn hàng ngang */
    align-items: center;    /* Căn giữa trục dọc */
    gap: 8px;              /* Khoảng cách giữa icon và chữ */
    margin-top: 10px;
    font-size: 13px;
    color: #444;
}
.blog-meta i {
    font-size: 16px;       /* Chỉnh icon to rõ hơn chút */
    color: #333;
}

/* --- PHẦN BÊN PHẢI: SIDEBAR 25% --- */
.sidebar {
    flex: 0 0 25%;
}

.search-box {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px;
    height: 36px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    background: white;
}

.search-box input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 12px;
    font-size: 13px;
}

.search-box button {
    width: 42px;
    height: 100%;
    border: none;
    background: #d32f2f;
    color: white;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    border: none;
    padding: 0 15px;
}

.widget-title {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    border-bottom: 2px solid #b51c1c;
    padding-bottom: 5px;
    width: 100%;
}

.mini-post {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
    align-items: flex-start; /* Căn trên cùng cho bài viết phụ */
}

.mini-post img {
    width: 125px;
    height: 78px;
    object-fit: fill;
    background: #000;
}

.mini-post-info h4 {
    font-size: 16px;
    margin-bottom: 5px;
}

.social-title {
    font-size: 14px;
    margin: 20px 0 10px;
}

.social-group {
    display: flex;
    gap: 15px;
    font-size: 20px;
}